body{
    background-color: #8F1720;
}
h1,h2,h3,h4,h5,h6,p,caption,th,td{
    color: #fff !important;
}

.grid section-bg-img{
    background-color: #8F1720 !important;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    /* Áp dụng các thay đổi layout cho màn hình có chiều rộng tối đa 768px (kích thước tablet, điện thoại) */
    body{
        width: 100%;
    }
}
img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%; /* Chiếm toàn bộ chiều rộng màn hình */
    max-width: 100vw; /* Giới hạn chiều rộng không vượt quá màn hình */
    margin: 0 auto;
    padding: 10px; /* Khoảng đệm */
}

header, .hero-slider, .invitation-section, .event-section, .gallery-section {
    width: 100%;
    max-width: 100vw;
}

img {
    max-width: 100%;
    height: auto; /* Đảm bảo hình ảnh không bị vượt quá kích thước màn hình */
}
.slide-main-text{
    background-image: url(./img/20.jpg);
}

.topbar{
    background-color: #8F1720 !important;
}

.topbar-logo h1 {
    color: #fff;
}